* {
    padding: 0;
    margin: 0%;
}

.posicion {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

h1 {
    color: rgb(13, 11, 15);

}

header {
    background-color: darkgrey;
}

body {
    background-color: blanchedalmond;
}

p {
    font-size: x-large
}

footer {
    background-color: darkgray;
    font-style: italic;
    font-family: 'Alkalami', serif;
}

section {
    padding: 50px 30px 20px 60px;
    margin-left: 40px;
    
}

section article {
    width: 500px;
    height: 500px;
}

section article p {
    line-height: 4;
}


.remarcado {
    background-color: hotpink;
}

h1 {
    font-style: italic;
    font-family: 'Alkalami', serif;
    font-size: 60px;
    text-align: center;
}

nav ul li {
    font-style: italic;
    font-family: 'Alkalami', serif;
    display: inline;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.acomodar{
    display: flex;
    justify-content: space-between;
    margin: auto;
     }
